*       @studio-139
/Sources/SimObjects/Helicopters/aw139/model/   @model-lead
/Sources/SimObjects/Helicopters/aw139/panel/   @avionics-lead
/Sources/SimObjects/Helicopters/aw139/sound/   @audio-lead
